@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

.app{
    width: 100vw;
    margin: 0;
    padding: 0
}

.header_conteiner{
    display: flex;
    flex-direction: column;
    background-image: url('./images/mobile/image-hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 88vh;
    
    
   
}

.first_header{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header_menu{
    display: none;
}
.header_main{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    border: 2px solid white ;
    width: 80vw;
    text-align: start;
    padding-left: 10px;
    margin: auto;
    letter-spacing: 2px;
    
}

.header_main h1{
    width: 200px;
}

.first_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.interactve_image{
    background-image: url('./images//mobile//image-interactive.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 80vw;

}

.content{
    width: 80vw;
    text-align: center;
    margin-top: 20px;
}
.content > h1 {
    font-family: 'josefin Sans', sans-serif;

}
.content > p {
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 55%);
    font-size: 15px;
}

.our_creations{
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    margin-top: 20px;
    margin: auto;
}

.our_creations   h1 {
    font-family: 'josefin Sans', sans-serif;
}

.desktop{
    display: none;
}

.see_all{
    margin-top: 30px;
    height: 40px;
    width: 150px;
    font-family: 'josefin Sans', sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 0%);
    letter-spacing: 2px;
    font-size: 15px;
    transition: all ease 0.5s;
}

footer{
    font-family: 'Alata', sans-serif;
    margin-top: 50px;
    padding: 20px;
    background-color: hsl(0, 0%, 0%);
    display: flex;
    flex-direction: column;
    

}

.footer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > img {
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer_links{
    display: flex;
    flex-direction: column;
}
footer a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: larger;
    margin-top: 20px;
    
}

.social_midia{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    margin-top: 40px;
}

footer strong {
    margin-top: 20px;
    color: hsl(0, 0%, 41%);
}

@media (min-width: 750px){

    .mobile{
        display: none;
    }
    .desktop{
        display: flex;
    }
    .header_conteiner{
        position: relative;
        background-image: url('./images/desktop/image-hero.jpg');
    }
    .header_menu{
        
        width: 30vw; 
        justify-content: space-around;
    }
    
    .header_menu a{
        position: relative;
        color: #fff;
        text-decoration: none;  
        
    }
    .header_menu a:before {
        
        content: "";
        position: absolute;
        width: 60%;
        height: 3px;
        bottom: -5px;
        left: 20%;
        background-color: #fff;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }
    .header_menu a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }

    .header_main{
        position: relative;
        left: -10vw;
        width: 50vw;
        height: 40vh;
    }
    .header_main h1{
        letter-spacing: 5px;
        height: 90%;
        width: 80%;
        font-size: 4em;
        font-weight: 400;
        margin: 40px 0px 0px 20px;
    }
    main{
        position: relative;
    }
    .first_main{
        position: relative;
    }


    .interactve_image{
        position: relative;
        background-image: url('./images/desktop/image-interactive.jpg');
        height: 70vh;
        width: 50vw;
        left: -10vw;
    }
    .content{
        position: relative;
        height: 30vh;
        width: 30vw;
        text-align: start;
        padding: 50px;
        background-color: hsl(0, 0%, 100%);
        top: -40vh;
        left: 20vw;
    }
    .content h1{
        letter-spacing: 5px;
        font-weight: 300;
        font-size: 40px;
    }
    .our_creations{
        position: relative;
        top: -20ch;
        width: 90vw;
    }
    .our_creations h1{
        position: relative;
        right: 9.0cm;
        
    }
    .creatiosn_conteiner{
        display: flex;
        flex-direction: column;
    }
    .creations_content{
        display: flex;
        
    }
    .see_all{
        position: relative;
        float: left;
        top: -100ch;
        right: -11.7cm;
    }
    .see_all:hover{
        cursor: pointer;
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
       transition: all ease 0.5s;
    }

    footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .footer_links{
        flex-direction: row;
        align-items: center;
    }

    .footer_links a {
        margin-right: 20px;
    }
    .social_midia *{
        cursor: pointer;
    }
    
}